@model FightsContest.Domain.Entities.Contest
@using FightsContest.Domain.Entities;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Torneio de Lutas</h1>
</div>


<div class="row">
    @foreach (Fighter fighter in Model.Fighters)
    {
        <div class="col-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@fighter.Name</h5>
                    <p><b>Idade:</b> @fighter.Age</p>
                    <p><b>Lutas:</b> @fighter.Fights</p>
                    <p><b>Derrotas:</b> @fighter.Loses</p>
                    <p><b>Vitórias:</b> @fighter.Wins</p>
                    <p><b>Artes Marciais:</b> @fighter.MartialArts.Count()</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </div>
    }
</div>
